{% INCLUDE 'overall_header.html' %}

<h2>{{ PAGE_TITLE }}</h2>

<form method="post" action="{{ U_GROUPS_SELECT }}">
	<fieldset>
		<select id="group_select" name="group_select">{{ GROUPS_SELECT }}</select>
		<input type="submit" name="group" value="{{ lang('GO') }}" class="button2" />
	</fieldset>
</form>

<div class="action-bar top">
	{% if loops.pagination|length or TOTAL_USERS %}
	<div class="pagination">
		{% if U_CSV_LIST %}
		<a href="{{ U_CSV_LIST }}">{{ lang('EXPORT_LIST') }}</a> &bull;
		{% endif %}
		{{ TOTAL_USERS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>

<div class="forumbg forumbg-table">
	<div class="inner">
		<table class="table1" cellspacing="1" padding="1">
			<thead>
				<tr>
					<th class="table1" style="text-align:center;"> # </th>
					<th class="table1" style="text-align:center;">{{ lang('SORT_USERNAME') }}</th>
					<th class="table1" style="text-align:center;">{{ lang('EMAIL_ADDRESS') }}</th>
					<th class="table1">{{ lang('SORT_JOINED') }}</th>
					<th class="table1">{{ lang('LAST_VISIT') }}</th>
				</tr>
			</thead>
			<tbody>
				{% if loops.list|length %}
				{% for list in loops.list %}
				<tr class="{% if list.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<td style="text-align:center;">{{ list.ID }}</td>
					<td style="text-align:center;">{{ list.USERNAME_FULL }}</td>
					<td style="text-align:center;"><a href="mailto:{{ list.EMAIL }}">{{ list.EMAIL }}</a></td>
					<td style="text-align:center;">{{ list.REGDATE }}</td>
					<td style="text-align:center;">{{ list.LASTVISIT }}</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr class="bg1">
					<td colspan="5">{{ lang('NO_USERS_IN_GROUP') }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>

<div class="action-bar bottom">
	{% if loops.pagination|length or TOTAL_USERS %}
	<div class="pagination">
		{{ TOTAL_USERS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>

{% INCLUDE 'overall_footer.html' %}
