services:
    dmzx.emaillist.controller:
        class: dmzx\emaillist\controller\emaillist
        arguments:
            - '@config'
            - '@controller.helper'
            - '@template'
            - '@user'
            - '@dbal.conn'
            - '@request'
            - '@pagination'
    dmzx.emaillist.listener:
        class: dmzx\emaillist\event\listener
        arguments:
            - '@controller.helper'
            - '%core.php_ext%'
            - '@template'
            - '@user'
        tags:
            - { name: event.listener }
